colorama==0.4.6
datasets==2.8.0
evaluate==0.4.0
graphviz==0.20.1
numpy==1.24.0
openai==0.27.2
python-dotenv==1.0.0
requests==2.31.0
spacy-experimental==0.6.1
thefuzz==0.19.0
thefuzz[speedup]==0.19.0
transformers==4.25.1
en_coreference_web_trf @ https://github.com/explosion/spacy-experimental/releases/download/v0.6.1/en_coreference_web_trf-3.4.0a2-py3-none-any.whl